gunicorn==20.0.4
itsdangerous==1.1.0
jsonschema==3.2.0
klein==19.6.0
numpy==1.18.1
python-dateutil==2.8.1
pytz==2019.3
pyxdg==0.25
pyzmq==18.1.1
qtconsole==4.6.0
queuelib==1.5.0
requests==2.13.0
Scrapy==2.0.0
Twisted==19.10.0
typing==3.7.4.1
w3lib==1.21.0
wcwidth==0.1.8
webencodings==0.5.1
websocket-client==0.40.0
Werkzeug==0.16.1
widgetsnbextension==3.5.1
