asn1crypto==0.24.0
attrs==19.3.0
Automat==20.2.0
backcall==0.1.0
bleach==3.1.0
cbpro==1.1.4
characteristic==14.3.0
Click==7.0
constantly==15.1.0
cryptography==2.6.1
cssselect==1.1.0
decorator==4.4.1
defusedxml==0.6.0
ecdsa==0.13
entrypoints==0.3
Flask==1.1.1
gunicorn==20.0.4
hyperlink==19.0.0
idna==2.9
importlib-metadata==1.5.0
incremental==17.5.0
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
keyring==17.1.1
keyrings.alt==3.1.1
klein==19.6.0
lxml==4.5.0
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.0.3
numpy==1.18.1
opencv-python==4.2.0.32
pandas==1.0.1
pandocfilters==1.4.2
parsel==1.5.2
parso==0.6.1
pdf2image==1.11.0
peerassets-btcpy==0.6.2
peercoin-rpc==0.61
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
prometheus-client==0.7.1
prompt-toolkit==3.0.3
Protego==0.1.16
protobuf==3.11.3
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycrypto==2.6.1
PyDispatcher==2.0.5
Pygments==2.5.2
PyGObject==3.30.4
PyHamcrest==2.0.2
pymongo==3.5.1
pyOpenSSL==19.1.0
-e git+https://github.com/youngpascal/pypeerassets@1e44924547861c5b12d8237e44ea40c1ffdd9d3a#egg=pypeerassets
pyrsistent==0.15.7
pytesseract==0.3.2
python-dateutil==2.8.1
pytz==2019.3
pyxdg==0.25
pyzmq==18.1.1
qtconsole==4.6.0
queuelib==1.5.0
requests==2.13.0
Scrapy==2.0.0
SecretStorage==2.3.1
Send2Trash==1.5.0
service-identity==18.1.0
six==1.10.0
sortedcontainers==2.1.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.3
traitlets==4.3.3
Tubes==0.2.0
Twisted==19.10.0
typing==3.7.4.1
w3lib==1.21.0
wcwidth==0.1.8
webencodings==0.5.1
websocket-client==0.40.0
Werkzeug==0.16.1
widgetsnbextension==3.5.1
zipp==2.1.0
zope.interface==4.7.1
